<div class="row">
  <div class="col-md-12 user-profile">
    <div class="row text-center">
      <div class="col-md-3">
        <h1>全站使用者</h1>
        <div class="sq-region">
           <h2><%= @user_count %></h2> 
        </div>
      </div>
      <div class="col-md-3">
        <h1>全站文章</h1>
        <div class="sq-region">
          <h2><%= @post_count %></h2> 
        </div>
      </div>
      <div class="col-md-3">
        <h1>全站回覆</h1>
        <div class="sq-region">
          <h2><%= @comment_count %></h2> 
        </div>
      </div>
      <div class="col-md-3">
        <h1>全站主題</h1>
        <div class="sq-region">
          <h2><%= @category_count %></h2> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table text-center">
      <thead>
        <th>回覆最多的使用者</th>
      </thead>
      <tbody>
        <% @chatter_users.each do |user| %>
          <tr> 
            <td>
              <div class="row">
                <div class="col-md-9"><%= link_to user.name, user %> </div>
                <div class="col-md-3"><i class="fa fa-reply fa-lg"> </i> <%= user.comments_count %> </div>
              </div>   
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table text-center">
      <thead>
        <th>回覆最多的文章</th>
      </thead>
      <tbody>
        <% @most_popular_post.each do |article| %>
          <tr>
            <td>
              <div class="row">
                <div class="col-md-9"><%= link_to article.title, article %></div>
                <div class="col-md-3"><i class="fa fa-eye fa-lg"> </i> <%= article.views_count %> </div>
              </div>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  