<h1>Article index</h1>
<table class="table">
  <thead>
    <th scope="col">回覆數</th>
    <th scope="col">標題</th>
    <th scope="col">內容</th> 
    <th scope="col">最後回覆時間</th>
    <th scope="col">觀看次數</th>
    <th scope="col">作者</th>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.replies_count %></td>
        <td>
          <%= link_to article.title, article %>
        </td>
        <td><%= article.content %></td>
        <td><%= last_replied_at(article) %></td>
        <td><i class="fa fa-eye fa-lg"></i><%= article.views_count %></td>
        <td><%= link_to article.user.name, article.user %></td>
      </tr> 
    <% end %>
  </tbody>
</table>
