<%= render "shared/user_profile", user: @user %>
<div class="row">
  <div class="col-md-12 text-center">
    <h2><%= @article.title %></h2>  
  </div>
  <div class="col-md-12">
    <div class="text-center">
      <%= image_tag @article.image_url if @article.image_url %>
    </div>
    <p><%= @article.content %></p>
    <p class="sm-grey">
      Categories:
      <% @article.categories.each do |category| %>
        #<%= category.name %>
      <% end %>
    </p>
  </div>
  <div class="col-md-12 text-right margin-top-bottom">
    <%= render 'shared/admin_delete_button', article: @article %>
    <%= render 'shared/author_panel', article: @article %>
    <%= render "shared/collection", article: @article %>
    <hr>
  </div>
  <div class="col-md-12">
    <%= simple_form_for @comment, url: comment_article_path, method: :post do |f| %>
      <%= f.input :content, label: "留下評論" %>
      <%= f.hidden_field :article_id, :value => @article.id %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
  <% unless @comments.blank? %>
    <div class="col-md-12">
      <% @comments.each do |comment| %>
        <div class="row comment-panel" id="comment-<%= comment.id %>">
          <%= render 'shared/comment_table', comment: comment %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= paginate @comments %>
</div>

