<%= render "shared/user_profile", user: @user %>
<div class="row">
  <div class="col-md-12 text-center">
    <h2><%= @article.title %></h2>  
  </div>
  <div class="col-md-12">
    <p><%= @article.content %></p>
  </div>
  <div class="col-md-12 text-right">
    <%= render "shared/collection", article: @article %>
  </div>
  <div class="col-md-12">
    <%= simple_form_for @comment, url: comment_article_path, method: :post do |f| %>
      <%= f.input :content, label: "留下評論" %>
      <%= f.hidden_field :article_id, :value => @article.id %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
  <% unless @article.comments.blank? %>
    <div class="col-md-12">
      <% @article.comments.each do |comment| %>
        <div class="row comment-panel">
          <div class="col-md-3">
            <%= gravatar_for(comment.user, "comment-user-avartar") %>
            <%= comment.user.name %>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-10"><%= comment.content %></div>
              <div class="col-md-2">
                <%= render "shared/comment_panel", comment: comment %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

