<%= render "shared/user_profile", user: @user %>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <%= link_to "#{title(@user)}的文章", @user, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{title(@user)}回覆過的文章", comment_user_path(@user), class: "nav-link" %>
  </li>
  <% if @user == current_user %>
    <li class="nav-item">
      <%= link_to "#{title(@user)}的收藏", collection_user_path, class: "nav-link" %>
    </li>
  
    <li class="nav-item">
      <%= link_to "#{title(@user)}的草稿", draft_user_path(@user), class: "nav-link" %>
    </li>
  
    <li class="nav-item">
      <%= link_to "#{title(@user)}的朋友", follower_user_path(@user), class: "nav-link" %>
    </li>
  <% end %>
</ul>
<%= render "shared/articles_list", articles: @articles %>
<%= link_to "新增文章", new_article_path, class: "btn btn-primary" %>
