<%= render "shared/user_profile", user: @user %>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <%= link_to "我的文章", @user, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "我的回覆", @user, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "我的收藏", @user, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "我的草稿", @user, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "我的朋友", @user, class: "nav-link" %>
  </li>
</ul>
<%= render "shared/articles_list", articles: @articles %>
