<table class="table">
  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td>
          <%= link_to article.title, article %>
        </td>
        <td><%= article.state %></td>
        <td><%= article.created_at %></td>
        <td>
          <%= link_to edit_article_path(article) do %>
            <%= fa_icon "pencil", class: "fa-2x pull-left" %>
          <% end %>
          <%= link_to article_path(article), method: :delete do %>
            <%= fa_icon "trash", class: "fa-2x"%>
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>