<table class="table">
  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td>
          <%= link_to article.title, article %>
        </td>
        <td><%= article.state %></td>
        <td><%= article.created_at %></td>
        <td>
          <%= render "shared/collection", article: article %>
        </td>
        <td>
          <%= render "shared/author_panel", article: article %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>