<div class="row user-profile">
    <div class="col-md-4 text-center">
      <ul>
        <li>
          <%= link_to user do %>
            <%= gravatar_for(user, "user-avartar") %>
            <div><%= user.name %></div>
          <% end %>
        </li>
        <li>
          <% if user == current_user %>
            <%= link_to "編輯個人資料", edit_user_path(user), class: "btn btn-primary" %>
          <% else %>
            <%= render "shared/friend_button", user: user %>
          <% end %>
        </li>
      </ul>   
    </div>
    <div class="col-md-8">
      <%= user.description %>
    </div>
</div>