<div class="padding-top">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to "新增編輯分類", admin_categories_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "更改使用者權限", admin_users_path, class: "nav-link" %>
    </li>
  </ul>
</div>

<div class="row padding-top">
  <div class="col-md-6">
    <%= render "form", category: @category %>
  </div>  
</div>  

<div class="row padding-top">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <th scope="col" class="text-center">Name</th>
        <th scope="col"></th>
      </thead>
      <tbody id="tbody">
        <% @categories.each do |category| %>
        <tr id="row-<%= category.id %>" >
          <%= render 'category_row', category: category %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
