<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Dojo Forum", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "全站訊息", feeds_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "全部文章", articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "新增文章", new_article_path, class: 'nav-link' %>
          </li>
        </ul>
        <% if current_user %>
          <ul class="navbar-nav ml-auto">
            <% if admin? %>
              <li class="nav-item">
                <%= link_to "後台管理", admin_root_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to current_user.email, user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                帳號
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to('登出', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
                <%= link_to('修改個人資料', edit_user_path(current_user), class: "dropdown-item") %>
                <%= link_to('修改密碼', edit_user_registration_path, class: "dropdown-item") %>
              </div>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to('登入', new_user_session_path, class: "nav-link") %>
            </li> 
          </ul>
        <% end %>
      </div>
    </nav>
    <% if flash[:alert] %>
      <div class="container">
        <div class="row">
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= alert %>
          </div>
        </div>
     </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="container">
        <div class="row">
          <div class="alert alert-success alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </div>
        </div>
     </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
